# Ignore everything
*

# Unignore all files with extensions
!*.*
!*/

# Ignore unwanted files and directories explicitly
*.vscode/
*.exe
a.out
settings.json
database.json
database.db

build/

.DS_Store

# Keep important files
!Makefile
!*.md
!.gitignore

.vscode
.idea
build
cmake-build-debug
